{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} load staticfiles {% templatetag closeblock %}
{% templatetag openblock %} load thumbnail {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openvariable %} block.super {% templatetag closevariable %}Profile{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block container {% templatetag closeblock %}

<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>{% templatetag openvariable %} show_user.get_full_name {% templatetag closevariable %}</h1>
      {% templatetag openblock %} if editable {% templatetag closeblock %}
      <a href="{% templatetag openblock %} url 'profiles:edit_self' {% templatetag closeblock %}" class="btn btn-info">Edit Profile</a>
      {% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% templatetag openblock %} thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop {% templatetag closeblock %}">
    </div>
  </div>
</div>

<div class="container profile-body">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Email:</strong></span> {% templatetag openvariable %} show_user.email|default:"missing" {% templatetag closevariable %}
	  {% templatetag openblock %} if show_user.profile.email_verified {% templatetag closeblock %}
	    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span>
	    <span class="sr-only">Verified</span>
	  {% templatetag openblock %} else {% templatetag closeblock %}
	    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="This email address is not verified"></span>
	    <span class="sr-only">Not Verified</span>
	  {% templatetag openblock %} endif {% templatetag closeblock %}
	</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> {% templatetag openvariable %} show_user.date_joined {% templatetag closevariable %}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> {% templatetag openvariable %} show_user.last_login {% templatetag closevariable %}</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">{% templatetag openvariable %} show_user.get_full_name {% templatetag closevariable %}'s Profile
	  {% templatetag openblock %} if show_user.profile.slug {% templatetag closeblock %}
	    <a href="{% templatetag openblock %} url 'profiles:show' show_user.profile.slug {% templatetag closeblock %}">
	    	<span class="glyphicon glyphicon-link" aria-hidden="true" title="Profile permalink"></span>
	    	<span class="sr-only">Permalink</span></a> {% templatetag openvariable %} show_user.profile.get_absolute_url {% templatetag closevariable %}
	  {% templatetag openblock %} else {% templatetag closeblock %}
		<a href="https://github.com/arocks/edge/issues/40" target="_blank"><span>No permalink. See this issue.</span></a>
	  {% templatetag openblock %} endif {% templatetag closeblock %}
	</div>
        <div class="panel-body">
	  <strong>Bio</strong>: {% templatetag openvariable %} show_user.profile.bio {% templatetag closevariable %}
	</div>
      </div>
    </div>
  </div>
</div>

{% templatetag openblock %} endblock {% templatetag closeblock %}


