{% templatetag openblock %} load i18n {% templatetag closeblock %}{% templatetag openblock %} autoescape off {% templatetag closeblock %}
{% templatetag openblock %} blocktrans {% templatetag closeblock %}You're receiving this email because you requested a password reset for your user account at {% templatetag openvariable %} site_name {% templatetag closevariable %}.{% templatetag openblock %} endblocktrans {% templatetag closeblock %}

{% templatetag openblock %} trans "Please go to the following page and choose a new password:" {% templatetag closeblock %}
{% templatetag openblock %} block reset_link {% templatetag closeblock %}
{% templatetag openvariable %} protocol {% templatetag closevariable %}://{% templatetag openvariable %} domain {% templatetag closevariable %}{% templatetag openblock %} url 'accounts:password-reset-confirm' uidb64=uid token=token {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} trans "Your login email, in case you've forgotten, is same this email address:" {% templatetag closeblock %} {% templatetag openvariable %} user.get_username {% templatetag closevariable %}

{% templatetag openblock %} trans "Thanks for using our site!" {% templatetag closeblock %}

{% templatetag openblock %} blocktrans {% templatetag closeblock %}The {% templatetag openvariable %} site_name {% templatetag closevariable %} team{% templatetag openblock %} endblocktrans {% templatetag closeblock %}

{% templatetag openblock %} endautoescape {% templatetag closeblock %}

