[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = ">=2.0"
django-environ = ">=0.4.3"
django-braces = ">=1.12.0"
django-crispy-forms = ">=1.7.2"
django-authtools = ">=1.6.0"
easy-thumbnails = ">=2.4.1"


[dev-packages]

django-debug-toolbar = ">=1.8"
werkzeug = ">=0.12.2"


[requires]

python_version = "3.6"
