<!DOCTYPE html>
<html lang="en">
    {% templatetag openblock %} load staticfiles {% templatetag closeblock %}
    {% templatetag openblock %} load thumbnail {% templatetag closeblock %}
    
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% templatetag openblock %} block description {% templatetag closeblock %}{% templatetag openblock %} endblock description {% templatetag closeblock %}">
    <meta name="author" content="Arun Ravindran">
    <link rel="shortcut icon" href="{% templatetag openblock %} static 'site/ico/favicon.ico' {% templatetag closeblock %}">

    <title>{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} include "_brandname.html" {% templatetag closeblock %} :: {% templatetag openblock %} endblock {% templatetag closeblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% templatetag openblock %} static 'bootstrap/css/bootstrap.min.css' {% templatetag closeblock %}" rel="stylesheet">

    <!-- Custom styles for this site -->
    {% templatetag openblock %} block styles {% templatetag closeblock %}
    <link href="{% templatetag openblock %} static 'site/css/main.css' {% templatetag closeblock %}" rel="stylesheet">
    {% templatetag openblock %} endblock styles {% templatetag closeblock %}

    <!-- Custom tags for the head tag -->
    {% templatetag openblock %} block extrahead {% templatetag closeblock %}{% templatetag openblock %} endblock extrahead {% templatetag closeblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% templatetag openblock %} block navbar {% templatetag closeblock %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% templatetag openblock %} url 'home' {% templatetag closeblock %}">
            {% templatetag openblock %} block navbar-brand {% templatetag closeblock %}
              <img src="{% templatetag openblock %} static 'site/img/logo.png' {% templatetag closeblock %}" alt="logo">
              {% templatetag openblock %} include "_brandname.html" {% templatetag closeblock %}
            {% templatetag openblock %} endblock {% templatetag closeblock %}
          </a>
        </div>
        {% templatetag openblock %} block navbar-menu {% templatetag closeblock %}
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% templatetag openblock %} block navbar-left {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% templatetag openblock %} block navbar-right {% templatetag closeblock %}
              {% templatetag openblock %} if user.is_authenticated {% templatetag closeblock %}
                {% templatetag openblock %} if user.is_staff {% templatetag closeblock %}
                <li><a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">Admin</a></li>
                {% templatetag openblock %} endif {% templatetag closeblock %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
			<img src="{% templatetag openblock %} thumbnail user.profile.picture|default:'default_profile.png' 30x30 crop {% templatetag closeblock %}" alt="" />
			{% templatetag openvariable %} user.get_full_name|truncatechars:20 {% templatetag closevariable %}
			<span class="caret"></span>
		    </a>
		    
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% templatetag openblock %} url 'profiles:show_self' {% templatetag closeblock %}">Profile</a></li>
                    <li><a href="{% templatetag openblock %} url 'accounts:logout' {% templatetag closeblock %}">Logout</a></li>
                  </ul>
                </li>
              {% templatetag openblock %} endif {% templatetag closeblock %}
            {% templatetag openblock %} endblock {% templatetag closeblock %}
          </ul>
          </ul>
        </div><!--/.nav-collapse -->
        {% templatetag openblock %} endblock {% templatetag closeblock %}
    </div>
    {% templatetag openblock %} endblock navbar {% templatetag closeblock %}

    {% templatetag openblock %} block messages {% templatetag closeblock %}
      {% templatetag openblock %} if messages {% templatetag closeblock %}
        {% templatetag openblock %} for message in messages {% templatetag closeblock %}
          <div class="alert alert-{% templatetag openvariable %} message.tags {% templatetag closevariable %}">  <!-- singular -->
            <a class="close" data-dismiss="alert">×</a>
            {% templatetag openvariable %} message|safe {% templatetag closevariable %}
          </div>
        {% templatetag openblock %} endfor {% templatetag closeblock %}
      {% templatetag openblock %} endif {% templatetag closeblock %}
    {% templatetag openblock %} endblock {% templatetag closeblock %}

    {% templatetag openblock %} block splash {% templatetag closeblock %}
    {% templatetag openblock %} endblock splash {% templatetag closeblock %}
    
    {% templatetag openblock %} block container {% templatetag closeblock %}
    <div class="container">

      <div class="starter-template">
        <h1>New Project</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->
    {% templatetag openblock %} endblock container {% templatetag closeblock %}

    <!-- Site footer -->
    {% templatetag openblock %} block footer {% templatetag closeblock %}
      <!-- Some social button for contact will do -->
      <a name="contact"></a>
      <div class="container">
            <div class="footer">
        <div class="row">
          <div class="col-lg-6">
              <p>&copy; Company {% templatetag openblock %} now 'Y' {% templatetag closeblock %}</p>
          </div>
          <div class="col-lg-6 text-right">
            Connect with us on
            <a href="#"><i class="fa fa-facebook"></i> Facebook</a> or
            <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
          </div>
        </div>
            </div>
      </div>
    {% templatetag openblock %} endblock {% templatetag closeblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% templatetag openblock %} static 'bootstrap/js/bootstrap.min.js' {% templatetag closeblock %}"></script>
    {% templatetag openblock %} block scripts {% templatetag closeblock %}
    {% templatetag openblock %} endblock scripts {% templatetag closeblock %}
  </body>
</html>


