{% templatetag openblock %} extends "_base.html" {% templatetag closeblock %}

{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block head_title {% templatetag closeblock %}{% templatetag openvariable %} block.super {% templatetag closevariable %}{% templatetag openblock %} trans " – Welcome to an amazing product!" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <main class="container">

    <div class="text-center py-5 px-3">
      <h1>Home</h1>
      <p class="lead">There is no place like home!</p>
    </div>
    
  </main>
{% templatetag openblock %} endblock body {% templatetag closeblock %}
