{% templatetag openblock %} extends "admin/base_site.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

<p>{% templatetag openblock %} trans "Thanks for spending some quality time with the Web site today." {% templatetag closeblock %}</p>

<p><a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}" class="btn btn-default">{% templatetag openblock %} trans 'Log in again' {% templatetag closeblock %}</a></p>

{% templatetag openblock %} endblock {% templatetag closeblock %}
