{% templatetag openblock %} extends "admin/base_site.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n static {% templatetag closeblock %}
{% templatetag openblock %} block extrastyle {% templatetag closeblock %}{% templatetag openvariable %} block.super {% templatetag closevariable %}<link rel="stylesheet" type="text/css" href="{% templatetag openblock %} static "admin/css/forms.css" {% templatetag closeblock %}" />{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
<ul class="breadcrumb">
<li><a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">{% templatetag openblock %} trans 'Home' {% templatetag closeblock %}</a></li>
<li>{% templatetag openblock %} trans 'Password change' {% templatetag closeblock %}</a>
</ul>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans 'Password change' {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content_title {% templatetag closeblock %}<a class="navbar-brand">{% templatetag openblock %} trans 'Password change' {% templatetag closeblock %}</a>{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}<div id="content-main">

<form class="form-horizontal" action="" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
{% templatetag openblock %} if form.errors {% templatetag closeblock %}
<div class="alert alert-danger">
    {% templatetag openblock %} if form.errors.items|length == 1 {% templatetag closeblock %}{% templatetag openblock %} trans "Please correct the error below." {% templatetag closeblock %}{% templatetag openblock %} else {% templatetag closeblock %}{% templatetag openblock %} trans "Please correct the errors below." {% templatetag closeblock %}{% templatetag openblock %} endif {% templatetag closeblock %}
</div>
{% templatetag openblock %} endif {% templatetag closeblock %}

<div class="alert alert-info">{% templatetag openblock %} trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." {% templatetag closeblock %}</div>

<fieldset class="_module _aligned wide">

<div class="form-group">
    <div class="control-label col-sm-2">
        {% templatetag openvariable %} form.old_password.label_tag {% templatetag closevariable %}
    </div>
    <div class="controls col-sm-10">
        {% templatetag openblock %} dab_field_rendering form.old_password {% templatetag closeblock %}
        {% templatetag openblock %} if form.old_password.errors {% templatetag closeblock %}<span class="text-danger">{% templatetag openvariable %} form.old_password.errors|striptags {% templatetag closevariable %}</span>{% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
</div>

<div class="form-group">
    <div class="control-label col-sm-2">
        {% templatetag openvariable %} form.new_password1.label_tag {% templatetag closevariable %}
    </div>
    <div class="controls col-sm-10">
        {% templatetag openblock %} dab_field_rendering form.new_password1 {% templatetag closeblock %}
        {% templatetag openblock %} if form.new_password1.errors {% templatetag closeblock %} <span class="text-danger">{% templatetag openvariable %} form.new_password1.errors|striptags {% templatetag closevariable %}</span>{% templatetag openblock %} endif {% templatetag closeblock %}
        {% templatetag openblock %} if form.new_password1.help_text {% templatetag closeblock %}<span class="text-info">{% templatetag openvariable %} form.new_password1.help_text {% templatetag closevariable %}</span>{% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
</div>

<div class="form-group">
    <div class="control-label col-sm-2">
        {% templatetag openvariable %} form.new_password2.label_tag {% templatetag closevariable %}
    </div>
    <div class="controls col-sm-10">
        {% templatetag openblock %} dab_field_rendering form.new_password2 {% templatetag closeblock %}
        {% templatetag openblock %} if form.new_password2.errors {% templatetag closeblock %} <span class="text-danger">{% templatetag openvariable %} form.new_password2.errors|striptags {% templatetag closevariable %}</span>{% templatetag openblock %} endif {% templatetag closeblock %}
        {% templatetag openblock %} if form.new_password2.help_text {% templatetag closeblock %}<span class="text-info">{% templatetag openvariable %} form.new_password2.help_text {% templatetag closevariable %}</span>{% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
</div>

</fieldset>

<div class="form-actions">
    <div class="controls col-sm-offset-2 col-sm-10">
        <input type="submit" value="{% templatetag openblock %} trans 'Change my password' {% templatetag closeblock %}" class="default btn btn-primary" />
    </div>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form></div>

{% templatetag openblock %} endblock {% templatetag closeblock %}
