{% templatetag openblock %} extends "admin/base_site.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n bootstrapped_goodies_tags {% templatetag closeblock %}

{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
<ul class="breadcrumb">
<li><a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">{% templatetag openblock %} trans 'Home' {% templatetag closeblock %}</a></li>
<li>{% templatetag openblock %} trans 'Password reset confirmation' {% templatetag closeblock %}</li>
</ul>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans 'Password reset' {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content_title {% templatetag closeblock %}<a class="navbar-brand">{% templatetag openblock %} trans 'Password reset' {% templatetag closeblock %}</a>{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

{% templatetag openblock %} if validlink {% templatetag closeblock %}

<h1>{% templatetag openblock %} trans 'Enter new password' {% templatetag closeblock %}</h1>

<p class="alert alert-info">{% templatetag openblock %} trans "Please enter your new password twice so we can verify you typed it in correctly." {% templatetag closeblock %}</p>

<form class="form-horizontal" action="" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
<div class="form-group">
    <div class="control-label col-sm-2">
        <label for="id_new_password1">{% templatetag openblock %} trans 'New password:' {% templatetag closeblock %}</label>
    </div>
    <div class="controls col-sm-10">
        {% templatetag openblock %} dab_field_rendering form.new_password1 {% templatetag closeblock %}
        {% templatetag openblock %} if form.new_password1.errors {% templatetag closeblock %}<span class="text-danger">{% templatetag openvariable %} form.new_password1.errors|striptags {% templatetag closevariable %}</span>{% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
</div>
<div class="form-group">
    <div class="control-label col-sm-2">
        <label for="id_new_password2">{% templatetag openblock %} trans 'Confirm password:' {% templatetag closeblock %}</label>
    </div>
    <div class="controls col-sm-10">
        {% templatetag openblock %} dab_field_rendering form.new_password2 {% templatetag closeblock %}
        {% templatetag openblock %} if form.new_password2.errors {% templatetag closeblock %}<span class="text-danger">{% templatetag openvariable %} form.new_password2.errors|striptags {% templatetag closevariable %}</span>{% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
</div>
<div class="form-actions col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="{% templatetag openblock %} trans 'Change my password' {% templatetag closeblock %}" />
</div>
</form>

{% templatetag openblock %} else {% templatetag closeblock %}

<h1>{% templatetag openblock %} trans 'Password reset unsuccessful' {% templatetag closeblock %}</h1>

<p class="alert alert-warning">{% templatetag openblock %} trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." {% templatetag closeblock %}</p>

{% templatetag openblock %} endif {% templatetag closeblock %}

{% templatetag openblock %} endblock {% templatetag closeblock %}
