{% templatetag openblock %} extends "admin/base_site.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n bootstrapped_goodies_tags {% templatetag closeblock %}

{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
<ul class="breadcrumb">
<li><a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">{% templatetag openblock %} trans 'Home' {% templatetag closeblock %}</a></li>
<li>{% templatetag openblock %} trans 'Password reset' {% templatetag closeblock %}</li>
</ul>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Password reset" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content_title {% templatetag closeblock %}<a class="navbar-brand">{% templatetag openblock %} trans "Password reset" {% templatetag closeblock %}</a>{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

<p class="alert alert-info">{% templatetag openblock %} trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." {% templatetag closeblock %}</p>

<form class="form-horizontal" action="" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
    <div class="form-group">
        <div class="control-label col-sm-2">
            <label for="id_email">{% templatetag openblock %} trans 'Email address:' {% templatetag closeblock %}</label>
        </div>
        <div class="controls col-sm-10">
            {% templatetag openblock %} dab_field_rendering form.email {% templatetag closeblock %}
            {% templatetag openblock %} if form.email.errors {% templatetag closeblock %}<span class="text-danger">{% templatetag openvariable %} form.email.errors|striptags {% templatetag closevariable %}</span>{% templatetag openblock %} endif {% templatetag closeblock %}
        </div>
    </div>

    <div class="form-actions col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="{% templatetag openblock %} trans 'Reset my password' {% templatetag closeblock %}" />
    </div>
</form>

{% templatetag openblock %} endblock {% templatetag closeblock %}
