{% templatetag openblock %} extends "admin/base_site.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
<ul class="breadcrumb">
<li><a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">{% templatetag openblock %} trans 'Home' {% templatetag closeblock %}</a></li>
<li>{% templatetag openblock %} trans 'Password reset' {% templatetag closeblock %}</li>
</ul>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans 'Password reset successful' {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content_title {% templatetag closeblock %}<a class="navbar-brand">{% templatetag openblock %} trans 'Password reset successful' {% templatetag closeblock %}</a>{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

<p class="alert alert-success">{% templatetag openblock %} trans "We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly." {% templatetag closeblock %}</p>

{% templatetag openblock %} endblock {% templatetag closeblock %}
