{% templatetag openblock %} extends "admin/base_site.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
<ul class="breadcrumb">
  <li><a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">{% templatetag openblock %} trans 'Home' {% templatetag closeblock %}</a></li>
  <li>{% templatetag openblock %} trans 'Password change' {% templatetag closeblock %}</li>
</ul>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans 'Password change successful' {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content_title {% templatetag closeblock %}<a class="navbar-brand">{% templatetag openblock %} trans 'Password change successful' {% templatetag closeblock %}</a>{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

<p class="alert alert-success">{% templatetag openblock %} trans 'Your password was changed.' {% templatetag closeblock %}</p>

{% templatetag openblock %} endblock {% templatetag closeblock %}
