{% templatetag openblock %} extends "admin/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}{% templatetag openblock %} load admin_static bootstrapped_goodies_tags {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} include "_brandname.html" {% templatetag closeblock %} Admin{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block branding {% templatetag closeblock %}
  <a class="navbar-brand" href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">{% templatetag openblock %} include "_brandname.html" {% templatetag closeblock %} Admin</a>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block nav-global {% templatetag closeblock %}
  <a class="btn btn-default" href="{% templatetag openblock %} url 'home' {% templatetag closeblock %}"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Switch to Site</a>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block extrahead {% templatetag closeblock %}{% templatetag openvariable %} block.super {% templatetag closevariable %}
  <link href="{% templatetag openblock %} static 'site/css/main.css' {% templatetag closeblock %}" rel="stylesheet">
{% templatetag openblock %} endblock {% templatetag closeblock %}

