{% templatetag openblock %} extends "account/base.html" {% templatetag closeblock %}

{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} load account {% templatetag closeblock %}

{% templatetag openblock %} block head_title {% templatetag closeblock %}{% templatetag openblock %} trans "Password Reset" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block form_body {% templatetag closeblock %}
  
  {% templatetag openblock %} if user.is_authenticated {% templatetag closeblock %}
    {% templatetag openblock %} include "account/snippets/already_logged_in.html" {% templatetag closeblock %}
  {% templatetag openblock %} endif {% templatetag closeblock %}
    
  <p>{% templatetag openblock %} blocktrans {% templatetag closeblock %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% templatetag openblock %} endblocktrans {% templatetag closeblock %}</p>
  
{% templatetag openblock %} endblock {% templatetag closeblock %}
