{% templatetag openblock %} extends "account/base.html" {% templatetag closeblock %}

{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block head_title {% templatetag closeblock %}{% templatetag openblock %} trans "Set Password" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block form_body {% templatetag closeblock %}

  <form method="post" action="{% templatetag openblock %} url 'account_set_password' {% templatetag closeblock %}" class="password_set">
    {% templatetag openblock %} csrf_token {% templatetag closeblock %}
    {% templatetag openblock %} include 'includes/_bs5_form.html' with form=form hidelabels=True {% templatetag closeblock %}
    <button class="w-100 btn btn-lg btn-primary" type="submit" name="action">{% templatetag openblock %} trans "Set Password" {% templatetag closeblock %}</button>
  </form>
{% templatetag openblock %} endblock {% templatetag closeblock %}
