{% templatetag openblock %} extends "account/base.html" {% templatetag closeblock %}

{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} block head_title {% templatetag closeblock %}{% templatetag openblock %} trans "Change Password" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block form_body {% templatetag closeblock %}
  

    {% templatetag openblock %} if token_fail {% templatetag closeblock %}
      <h5 class="text-danger">{% templatetag openblock %} trans "Bad Token" {% templatetag closeblock %}</h5>
      {% templatetag openblock %} url 'account_reset_password' as passwd_reset_url {% templatetag closeblock %}
      <p>{% templatetag openblock %} blocktrans {% templatetag closeblock %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% templatetag openvariable %} passwd_reset_url {% templatetag closevariable %}">new password reset</a>.{% templatetag openblock %} endblocktrans {% templatetag closeblock %}</p>
    {% templatetag openblock %} else {% templatetag closeblock %}
      {% templatetag openblock %} if form {% templatetag closeblock %}
        <form method="POST" action="{% templatetag openvariable %} action_url {% templatetag closevariable %}">
          {% templatetag openblock %} csrf_token {% templatetag closeblock %}
          {% templatetag openblock %} include 'includes/_bs5_form.html' with form=form hidelabels=True {% templatetag closeblock %}

          <button class="w-100 btn btn-lg btn-primary" type="submit">{% templatetag openblock %} trans "Change Password" {% templatetag closeblock %}</button>

        </form>
      {% templatetag openblock %} else {% templatetag closeblock %}
        <p>{% templatetag openblock %} trans 'Your password is now changed.' {% templatetag closeblock %}</p>
      {% templatetag openblock %} endif {% templatetag closeblock %}
    {% templatetag openblock %} endif {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
