{% templatetag openblock %} extends "accounts/auth_base.html" {% templatetag closeblock %}

{% templatetag openblock %} load crispy_forms_tags {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openvariable %} block.super {% templatetag closevariable %}Log In{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block form_heading {% templatetag closeblock %}Please Log In{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block form {% templatetag closeblock %}
  {% templatetag openblock %} crispy form {% templatetag closeblock %}

  <div class="form-message">
    <p>
      Don't have an account? <a href="{% templatetag openblock %} url 'accounts:signup' {% templatetag closeblock %}">Sign up</a>.
    </p>
  </div>
{% templatetag openblock %} endblock form {% templatetag closeblock %}

