/* Button styling: 3D effect */

.btn {
	border: none;
	/* background: none; */
	cursor: pointer;
	/* padding: 25px 80px; */
	display: inline-block;
	/* margin: 15px 30px; */
	text-transform: uppercase;
	letter-spacing: 1px;
	/* font-weight: 700; */
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn {
	/* background: #cb4e4e; */
	/* color: #fff; */
	/* box-shadow: 0 6px #ab3c3c; */
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 0 0 5px 5px;
}

/* Primary button */

.btn-primary {
    box-shadow: 0 6px #204E77;
}

.btn-primary:hover {
	box-shadow: 0 4px #204E77;
	top: 2px;
}

.btn-primary:active {
	box-shadow: 0 0 #204E77;
	top: 6px;
}

/* Default button */

.btn-default {
    background-color: #f0f0f0;
    box-shadow: 0 6px #333;
}

.btn-default:hover {
	box-shadow: 0 4px #333;
	top: 2px;
}

.btn-default:active {
	box-shadow: 0 0 #333;
	top: 6px;
}

/* Success button */

.btn-success {
    box-shadow: 0 6px #3E963E;
}

.btn-success:hover {
	box-shadow: 0 4px #3E963E;
	top: 2px;
}

.btn-success:active {
	box-shadow: 0 0 #3E963E;
	top: 6px;
}

/* Info button */

.btn-info {
    box-shadow: 0 6px #269abc;
}

.btn-info:hover {
	box-shadow: 0 4px #269abc;
	top: 2px;
}

.btn-info:active {
	box-shadow: 0 0 #269abc;
	top: 6px;
}

/* Warning button */

.btn-warning {
    box-shadow: 0 6px #d58512;
}

.btn-warning:hover {
	box-shadow: 0 4px #d58512;
	top: 2px;
}

.btn-warning:active {
	box-shadow: 0 0 #d58512;
	top: 6px;
}

/* Danger button */

.btn-danger {
    box-shadow: 0 6px #ac2925;
}

.btn-danger:hover {
	box-shadow: 0 4px #ac2925;
	top: 2px;
}

.btn-danger:active {
	box-shadow: 0 0 #ac2925;
	top: 6px;
}

