@import "buttonstyles.css";

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Button styling: 3D effect */

.btn-success:hover {
	box-shadow: 0 4px #4cae4c;
	top: 2px;
}

.btn-success:active {
	box-shadow: 0 0 #4cae4c;
	top: 6px;
}
